@model IEnumerable<KPI>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Check", "Index", new { check = true }, new { style = "float:right" })

<table class="table">
    <tr>
        <th>
            Mục tiêu
        </th>
        <th>
            Owner
        </th>
        <th>
            Tổng cộng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.MucTieu, "Details", new { id = -item.id })
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.KPIs.Except(new KPI[] { item }).Sum(kpi => kpi.TyTrong)%
        </td>
    </tr>
}

</table>
