@model IEnumerable<KPI>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MucTieu)
        </th>
        <th>
            DonVi
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.MucTieu, "Details", new { id = -item.id })
        </td>
        <td>
            @item.Email
        </td>
    </tr>
}

</table>
